<html>
    <head>
        <title>Reshi CGPA Calculator</title>
    </head>
    <body>
        
            <form action="cgpa">
                <h1>Kindly Fill </h1>
                BS3271<input type="text" name="BS3271"><br><br>
                CY3251<input type="text" name="CY3251"><br><br>
                GE3151<input type="text" name="GE3151"><br><br>
                GE3171<input type="text" name="GE3171"><br><br>
                HS3151<input type="text" name="HS3151"><br><br>
                MA3151<input type="text" name="MA3151"><br><br>
                PH3151<input type="text" name="PH3151"><br><br>
                <a herf="https://reshiweb.github.io/reshiweb/Django/Scripts/Django_Project/templates/CGPA.html">
                <input type="Submit",value='Submit'>
                </a>
            </form>
        
    </body>
</html>
